<!DOCTYPE html>
<html>
    <head><!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">--><link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png"><!--<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">--><link rel="manifest" href="/site.webmanifest">
        <meta charset="utf-8">
        <script src="vuedev.js">// Todo : move vue.min.j here </script>
        <script src="axios.min.js"></script>
        <title>Tweets</title>
    </head>
<body>
    <div id='post_tweet'>
    <input v-model="tweet.body" placeholder="type tweet">
    <button  v-on:click="post_tweet">post tweet</button>
    <p v-if="nil">please type tweet</p>
    </div>
    <div id='del_tweet'>
        <input v-model='id' placeholder="type tweet id">
        <button v-on:click="delete_tweet">delete</button>
    </div>
    <button id='get_tweets' v-on:click="get_tweets">refresh</button>

<!-- ./index.html -->
<div id="app9">
    <div  v-for="tweet in tweets">
     <b> {{ tweet.ID }}</b>
     <b> {{ tweet.title }}</b>
      {{ tweet.body }} <!--{{tweet.CreatedAt}}-->
    </div>
</div>
    </div><br>
    <script src="app.js"></script>
</body>
</html>
